*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;

}
#body{
    background-image: url(/estilos/img/fondo-carnet.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.menu{
    background-color: rgb(3, 3, 114);
    padding: 3px;
    width: 44%; 
    border-radius: 0px 5px 10px 0px;
    display: flex;
    position: relative;

} 
 .menu a{
    color: white;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.menu a:hover{
    background-color: white;
    color: rgb(3, 3, 114);
    border-radius: 10px;
    transition: ease-in-out 300ms;
}
.container{
    width: 450px; 
    padding: 30px 30px; 
    display: block;
    justify-content: center; 
    backdrop-filter: blur(7px);
    border-radius: 15px;
    margin-left: 15%;
    position: relative;

}
.abs-center{
    margin-left: 25%;
    background-color: white;
    padding: 20px;
    width: 53%;
    margin-top: 30px;
    height: 289px;
    border-radius: 10px;
}
.mem{
    padding: 9px 130px 10px 64px;
    margin-top: -64px;
    margin-left: 16%;
}
.membrete{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#usuario{
    width: 24%;
    margin-left: 5px;
    border: 3px solid #030372;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline;
    float: left;
}
#qr{
    margin-left: 154px;
    margin-top: -143px;
    width: 36%;
    display: inline;
    float: right;
}
#logo1{
    width: 19%;
    margin-top: -10px;
}
#logo2{
    width: 12%;
    margin-left: 286px;
    margin-top: -12px;
}

.datos{
    margin-left: 21px;
    display: inline;
    float: left;
}
.datos h6{
    font-size: 14px;
}
