*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;
}
body{
    background-color: rgb(150, 183, 253);
    /* padding: 20px; */
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
#inicio{
    background-image: url('/estilos/img/pagina-de-inicio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:170px;
    height: 200px;
    display: inline;
    float: left;
}
#acceso{
    background-image: url('/estilos/img/escaner-de-codigo-de-barras.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 200px;
    display: inline;
    float: left;
}
#registrar{
    background-image: url('/estilos/img/registro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 200px;
    display: inline;
    float: left;
}
#listado{
    background-image: url('/estilos/img/editar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 200px;
    display: inline;
    float: left;
}
.contenedor-inicio{
    float: left;
    display: flex;
}
.contenedor-acceso{
    float: left;
    display: flex;
}
.contenedor-modificar{
    float: left;
    display: flex;
}
.todo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 124px;
    margin-left: 47px;
}
    
h3{
    text-align: center;
}