*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;
}

body{
    background-image: url(/estilos/img/UNEFA1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;

}
.contenedor-principal{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.contenedor_1{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(7px);
    background-color: rgba(119, 158, 202, 0.493);
    transition: lefth 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}
.caja-posterior{
    margin: 100px 40px;
    color: white;
    transition: all 600ms;
    font-size: 35px;
    font-weight: bold;
    transform: rotate3d(20px 10px 10px);
    
    
}
.caja-posterior div button{
    margin-top: 30px;

}
.caja-posterior button{
    padding: 15px 40px;
    border: 2px solid white;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 20px;
    transition:ease-in-out 450ms;
    margin-left: 175px;
}
.caja-posterior button:hover{
    background-color: transparent;
    color: white;
}
.contenedor_2{
    display: none;
    align-items: center;
    width: 100%;
    max-width: 500px;
    position:relative;
    top: 185px;
    margin-top: -20px;
    transition: right 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor_2 form{
    width:  100%;
    padding: 80px 20px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
}
.contenedor_2 form h2{
    color: blue;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor_2 form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(212, 224, 248);
    font-size: 16px;
    outline: none;
}
.contenedor_2 form button{
    padding: 15px 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin-top: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-left: 150px;
    transition:ease-in-out 450ms;

}
.contenedor_2 form button:hover{
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}
.formulario-login{
    transition:ease-in-out 300ms;

}

/*diseño responsive*/

@media screen and (max-width: 850px){
    main{
        margin-top: 30px;
    }
    
    .caja-posterior{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    
    .caja-posterior div{
        margin: 0px;
        position: absolute;
    }
    
    .contenedor_2{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_2 form{
        position: relative;
    }
}