*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;

}
#body{
    background-color: rgb(150, 183, 253);

}
.menu{
    background-color: rgb(3, 3, 114);
    padding: 0.5rem;
    width: 50%; 
    border-radius: 0px 5px 10px 5px;
    display: flex;
    position: relative;

} 
 .menu a{
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.menu a:hover{
    background-color: white;
    color: rgb(3, 3, 114);
    border-radius: 10px;
    transition: ease-in-out 300ms;
}
h1{
    text-align: center;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration:underline;
    color: rgb(17, 17, 75);
}

.container{
    width: 450px; 
    padding: 30px 30px; 
    justify-content: center; 
    backdrop-filter: blur(7px);
    border-radius: 15px;
    position: relative;

}
.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.container form{
    width:  450px; 
    text-align: left;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;

}
.container form h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(3, 3, 114);

}
.container form input{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(212, 224, 248);
    font-size: 16px;
    outline: none;
}
.container form input:invalid{
    border: 2px solid red;

}
.container form input:valid{
    border: 2px solid rgb(79, 80, 182);

}
.container form select{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(212, 224, 248);
    font-size: 16px;
}
.botones{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#boton_guardar{
    padding: 10px 30px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(3, 3, 114);
    color: white;
    justify-content: center;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition:ease-in-out 4.5ms;
    height: 48px;
}
#boton_guardar:hover{
    background-color: transparent;
    color: rgb(3, 3, 114);
    border: 2px rgb(3, 3, 114) solid;
} 
#boton_regresar{
    padding: 10.5px 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    color: rgb(3, 3, 114);
    justify-content: center;
    border: 2px solid rgb(3, 3, 114);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition:ease-in-out 4.5ms;
    text-decoration: none;
    height: 48px;

}
#boton_regresar:hover{
    background-color: rgb(3, 3, 114);
    color: white;
} 
