*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    ;
}
body{
    background-color: rgb(150, 183, 253);
    padding: 20px;
}
h1{
    text-align: center;
    margin-top: 100px;
}
.menu{
    background-color: rgb(3, 3, 114);
    padding: 0.5rem;
    width: 48%; 
    border-radius: 15px;
    display: flex;
    margin: 10px;
    position: relative;
    

} 
 .menu a{
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.menu a:hover{
    background-color: white;
    color: blue;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}